#!pip install selenium

#!pip install msedge-selenium-tools

In [1]:
import pandas as pd
import selenium
from selenium import webdriver

# Task-1

#### Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title,job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [2]:
driver=webdriver.Chrome(r'C:\Users\home\Downloads\chromedriver_win32\chromedriver.exe')

In [3]:
#get url 
url='https://www.naukri.com/'
driver.get(url)

In [4]:
#finding element for job search bar
search_job=driver.find_elements_by_id('qsb-keyword-sugg')[0]

#sending keys to find jobs in seach bar
search_job.send_keys('Data Analyst')

#send the keys to location where we want to search the job
search_loc=driver.find_elements_by_id('qsb-location-sugg')[0]
search_loc.send_keys('Bangalore')

#click search button by using xpath function
search_btn=driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

In [9]:
#lets extract job titles
title_tag=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

job_title=[]
for i in title_tag[0:10]:
    job_title.append(i.text)
    
#finding the job loction
loc_tag=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")

job_loc=[]
for i in loc_tag[0:10]:
    job_loc.append(i.text)

#finding company_name
com_tag=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
com_name=[]
for i in com_tag[0:10]:
    com_name.append(i.text)


#finding the experience required for job
exp_tag=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")
exp_req=[]
for i in exp_tag[0:10]:
    exp_req.append(i.text)

#Make a data frame for first 10 jobs
Data_Analyst_jobs=pd.DataFrame({})
Data_Analyst_jobs['Job_Title']=job_title
Data_Analyst_jobs['Company_Name']=com_name
Data_Analyst_jobs['Experience_Required']=exp_req
Data_Analyst_jobs['Job_Location']=job_loc

In [10]:
Data_Analyst_jobs

,Job_Title,Company_Name,Experience_Required,Job_Location
0,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,0-3 Yrs,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/..."
1,Hiring Data Analysts For E commerce Platform |...,Allegis Services India Pvt. Ltd.,0-5 Yrs,Bangalore/Bengaluru
2,Data Analyst,Applied Materials,7-10 Yrs,Bangalore/Bengaluru
3,Hiring For Data Analyst/ MIS Reporting Analyst...,PHARMACEUTICAL RESEARCH ASSOCIATES INDIA Pvt Ltd,2-4 Yrs,Bangalore/Bengaluru
4,DA - Urgent Opening For Data Analyst BFSI Doma...,Tata Consultancy Services Ltd.,4-9 Yrs,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab..."
5,Data Analyst - Informatica MDM,Shell India Markets Private Limited,6-9 Yrs,Bangalore/Bengaluru
6,Assistant Vice President - MIS & Reporting ( B...,INTERTRUSTVITEOS CORPORATE AND FUND SERVICES P...,12-18 Yrs,"Mumbai, Bangalore/Bengaluru"
7,Data Analyst,Myntra Designs Pvt. Ltd.,3-6 Yrs,Bangalore/Bengaluru
8,Data Analyst,Myntra Designs Pvt. Ltd.,3-6 Yrs,Bangalore/Bengaluru
9,Data Analyst,Myntra Designs Pvt. Ltd.,4-9 Yrs,Bangalore/Bengaluru

In [ ]:
driver.close()

## Task2

### Q2: Write a python program to scrape data for “Data Scientist”  Job position in“Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data.

In [1]:
import pandas as pd
import selenium
import time
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException

In [2]:
driver=webdriver.Chrome(r'C:\Users\home\Downloads\chromedriver_win32\chromedriver.exe')

In [3]:
#get url 
url='https://www.naukri.com/'
driver.get(url)

In [4]:
#seaching job name in seachbar
search_job=driver.find_elements_by_id('qsb-keyword-sugg')[0]


#sending keys to find jobs in seach bar
search_job.send_keys('Data Scientist')

#searching location in searchbar
search_loc=driver.find_elements_by_id('qsb-location-sugg')[0]

#sending keys to find job location in seachbar
search_loc.send_keys('Bangalore')

#xpath to seach button
search_btn=driver.find_element_by_xpath("//button[@class='btn']")
#clicking seach button
search_btn.click()

In [5]:
#get urls tags
url_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [6]:
# fetching urls to open job link
urls=[]
for i in url_tags:
    urls.append(i.get_attribute("href"))
urls

['https://www.naukri.com/job-listings-data-scientist-data-analyst-business-analyst-inflexion-analytix-private-limited-mumbai-hyderabad-secunderabad-pune-gurgaon-gurugram-chennai-bangalore-bengaluru-0-to-3-years-100521000368?src=jobsearchDesk&sid=16212387343447378&xp=1&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-modeling-nielsen-kolkata-gurgaon-gurugram-bangalore-bengaluru-vadodara-baroda-mumbai-all-areas-3-to-7-years-280421003878?src=jobsearchDesk&sid=16212387343447378&xp=2&px=1',
 'https://www.naukri.com/job-listings-data-scientist-ibm-garage-ibm-india-pvt-limited-noida-hyderabad-secunderabad-bangalore-bengaluru-5-to-8-years-040521900448?src=jobsearchDesk&sid=16212387343447378&xp=3&px=1',
 'https://www.naukri.com/job-listings-data-scientist-ibm-india-pvt-limited-noida-hyderabad-secunderabad-bangalore-bengaluru-5-to-8-years-030521900421?src=jobsearchDesk&sid=16212387343447378&xp=4&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-credit-risk-scienaptic-systems-bangalore-bengaluru-5-to-10-years-030521500996?src=jobsearchDesk&sid=16212387343447378&xp=5&px=1',
 'https://www.naukri.com/job-listings-big-data-data-scientist-xoriant-solutions-pvt-ltd-kochi-cochin-indore-hyderabad-secunderabad-pune-ahmedabad-bangalore-bengaluru-mumbai-all-areas-1-to-3-years-130521005018?src=jobsearchDesk&sid=16212387343447378&xp=6&px=1',
 'https://www.naukri.com/job-listings-data-scientist-ibm-india-pvt-limited-bangalore-bengaluru-6-to-8-years-110521907352?src=jobsearchDesk&sid=16212387343447378&xp=7&px=1',
 'https://www.naukri.com/job-listings-lead-data-scientist-intel-technology-india-pvt-ltd-bangalore-bengaluru-6-to-10-years-070521500578?src=jobsearchDesk&sid=16212387343447378&xp=8&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-chatbot-nlp-gojek-tech-bangalore-bengaluru-3-to-7-years-060521500524?src=jobsearchDesk&sid=16212387343447378&xp=9&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-chatbot-nlp-go-jek-india-bangalore-bengaluru-5-to-10-years-050521500478?src=jobsearchDesk&sid=16212387343447378&xp=10&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-kinara-financial-private-limited-bangalore-bengaluru-5-to-10-years-100521500393?src=jobsearchDesk&sid=16212387343447378&xp=11&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-kinara-capital-kinara-financial-private-limited-bangalore-bengaluru-5-to-10-years-060521500976?src=jobsearchDesk&sid=16212387343447378&xp=12&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-marketing-analytics-hudsons-bay-company-bangalore-bengaluru-2-to-4-years-140521501771?src=jobsearchDesk&sid=16212387343447378&xp=13&px=1',
 'https://www.naukri.com/job-listings-data-scientist-applied-materials-india-private-limited-bangalore-bengaluru-2-to-4-years-070521901521?src=jobsearchDesk&sid=16212387343447378&xp=14&px=1',
 'https://www.naukri.com/job-listings-hiring-for-lead-data-scientist-for-bangalore-location-societe-generale-global-solution-centre-pvt-ltd-bangalore-bengaluru-5-to-9-years-130521000901?src=jobsearchDesk&sid=16212387343447378&xp=15&px=1',
 'https://www.naukri.com/job-listings-principal-data-scientist-netapp-india-private-limited-bangalore-bengaluru-10-to-15-years-070521906988?src=jobsearchDesk&sid=16212387343447378&xp=16&px=1',
 'https://www.naukri.com/job-listings-lead-data-scientist-sr-data-scientist-bditdomain-hyderabad-secunderabad-bangalore-bengaluru-mumbai-all-areas-8-to-10-years-030521004696?src=jobsearchDesk&sid=16212387343447378&xp=17&px=1',
 'https://www.naukri.com/job-listings-data-scientist-techknowledgey-pte-ltd-bangalore-bengaluru-0-to-2-years-070521003138?src=jobsearchDesk&sid=16212387343447378&xp=18&px=1',
 'https://www.naukri.com/job-listings-associate-data-scientist-idfc-first-bank-mumbai-bangalore-bengaluru-mumbai-3-to-7-years-110521904730?src=jobsearchDesk&sid=16212387343447378&xp=19&px=1',
 'https://www.naukri.com/job-listings-data-scientist-high-growth-vc-backed-influencer-marketplace-ravgins-international-pvt-ltd-bangalore-bengaluru-delhi-ncr-mumbai-all-areas-3-to-5-years-140521002611?src=jobsearchDesk&sid=16212387343447378&xp=20&px=1']

In [7]:
# defining the variables
job_title=[]
job_location=[]
company_name=[]
full_job_description=[]

In [8]:
for i in urls[:10]:
    driver.get(i)
    time.sleep(3)
    # fetching job titles
    try:
        job=driver.find_element_by_xpath('//h1[@class="jd-header-title"]')
        job_title.append(job.text)
    except NoSuchElementException:
        job_title.append('-')
    
    #fetching job location
    try:
        loc=driver.find_element_by_xpath('//div[@class="loc"]/span')
        job_location.append(loc.text)
    except NoSuchElementException:
        job_location.append('-')
    
    #fetching job company name
    try:
        cname=driver.find_element_by_xpath('//a[@class="pad-rt-8"]')
        company_name.append(cname.text)
    except NoSuchElementException:
        company_name.append('-')
    
    #fetching job full description
    try:
        disc=driver.find_element_by_xpath('//section[@class="job-desc"]')
        full_job_description.append(disc.text)
    except NoSuchElementException:
        full_job_description.append('-')

In [9]:
len(job_title),len(job_location),len(company_name),len(full_job_description)

(10, 10, 10, 10)

In [11]:
#Make a data frame for first 10 jobs
Data_Scientist_jobs=pd.DataFrame({})
Data_Scientist_jobs['Job-Title']=job_title
Data_Scientist_jobs['Job-Location']=job_location
Data_Scientist_jobs['Company-Name']=company_name
Data_Scientist_jobs['Job_Description']= full_job_description

In [12]:
Data_Scientist_jobs

,Job-Title,Job-Location,Company-Name,Job_Description
0,Data Scientist / Data Analyst -Business Analyst,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Inflexion Analytix Private Limited,Job description\nJob Role : Data Scientist/Dat...
1,"Senior Data Scientist, Modeling","Kolkata, Gurgaon/Gurugram, Bangalore/Bengaluru...",Nielsen,Job description\nWe wont say we can predict th...
2,-,-,-,-
3,-,-,-,-
4,Senior Data Scientist - Credit risk,Bangalore/Bengaluru,Scienaptic Systems,Job description\n\nResponsibilities and duties...
5,-,-,-,-
6,-,-,-,-
7,Lead Data Scientist,Bangalore/Bengaluru,Intel Technology India Pvt Ltd,Job description\n\n\nWe are seeking an outstan...
8,Senior Data Scientist - Chatbot & NLP,Bangalore/Bengaluru,Gojek Tech,Job description\nWhat You Will Do\nWork with D...
9,Senior Data Scientist - Chatbot & NLP,Bangalore/Bengaluru,GO-JEK India,Job description\n What You Will Do\nWork with...

In [13]:
driver.close()

## Task3

### Q3: Write a python program to scrape data for “Data Scientist”  Job position in“Delhi/NCR” location,The location filter to be use is "3-6"lakhs. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [2]:
driver=webdriver.Chrome(r'C:\Users\home\Downloads\chromedriver_win32\chromedriver.exe')

In [3]:
#get url 
url='https://www.naukri.com/'
driver.get(url)

In [4]:
#xpath of search bar
search_job=driver.find_elements_by_id('qsb-keyword-sugg')[0]

#sending keys to find jobs in seach bar
search_job.send_keys('Data Scientist')

#xpath of search button
search_btn=driver.find_element_by_xpath("//button[@class='btn']")

#clicking search button
search_btn.click()

In [5]:
#appling filters

#xpath of location filter
location=driver.find_element_by_xpath('//*[@id="root"]/div[3]/div[2]/section[1]/div[2]/div[2]/div[2]/div[2]/label/i')

#clicking location filter
location.click()

In [6]:
#xpath of salary(3-6lakhs) filter
filter_sal=driver.find_element_by_xpath('//*[@id="root"]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[2]/label/i')

#clicking salary filter
filter_sal.click()

In [7]:
# job titles
title_tag=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
job_title=[]
for i in title_tag[0:10]:
    job_title.append(i.text)

#company_name
com_tag=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
com_name=[]
for i in com_tag[0:10]:
    com_name.append(i.text)


#job loction
loc_tag=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")
job_loc=[]
for i in loc_tag[0:10]:
    job_loc.append(i.text)


#experience required for job
exp_tag=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")
exp_req=[]
for i in exp_tag[0:10]:
    exp_req.append(i.text)

In [8]:
len(job_title),len(com_name),len(job_loc),len(exp_req)

(10, 10, 10, 10)

In [9]:
#Make a data frame for first 10 jobs
Data_Scientist_jobs=pd.DataFrame({})
Data_Scientist_jobs['Job_Title']=job_title
Data_Scientist_jobs['Company_Name']=com_name
Data_Scientist_jobs['Job_Location']=job_loc
Data_Scientist_jobs['Experience_Required']=exp_req

In [10]:
Data_Scientist_jobs

,Job_Title,Company_Name,Job_Location,Experience_Required
0,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",0-3 Yrs
1,Data Scientist,IBM India Pvt. Limited,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",4-9 Yrs
2,Business Analyst- Data Scientist,Wipro,"Noida, Gurgaon/Gurugram",2-5 Yrs
3,Data Scientist - High growth VC backed Influen...,Ravgins International Pvt. Ltd.,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",3-5 Yrs
4,Data Scientist,Mobikwik,"New Delhi, Gurgaon/Gurugram, Delhi / NCR",3-5 Yrs
5,DATA Scientist – Gurgaon (Exp 3-6 years),CRESCENDO GLOBAL LEADERSHIP HIRING INDIA PRIVA...,"Gurgaon/Gurugram, Delhi / NCR",3-6 Yrs
6,DATA Scientist – Gurgaon (Exp 3-6 years),CRESCENDO GLOBAL LEADERSHIP HIRING INDIA PRIVA...,"Gurgaon/Gurugram, Delhi / NCR",3-6 Yrs
7,Data Scientist - Noida,Optum Global Solutions (India) Private Limited,Noida,3-5 Yrs
8,Data Scientist - Python & Machine Learning,FUTURES AND CAREERS,"Hyderabad/Secunderabad, Pune, Bangalore/Bengal...",2-7 Yrs
9,Data Scientist - Python & Machine Learning,FUTURES AND CAREERS,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",2-7 Yrs

In [11]:
driver.close()

# Task4

### Q4. Write a python program to scrape data fro first 10 job results for Data Scientist Designation in Noida location.You have to scarpe company_name,No. of days ago when job was posted, Rating of the company in https://www.glassdoor.co.in/index.htm and store the data in dataframe

In [15]:
driver=webdriver.Chrome(r'C:\Users\home\Downloads\chromedriver_win32\chromedriver.exe')

In [16]:
#get url
driver.get('https://www.glassdoor.co.in/index.htm')

In [17]:
#searching for job in seach bar
search_job=driver.find_elements_by_id('scKeyword')[0]

#sending keys to find jobs in seach bar
search_job.send_keys('Data Scientist')

#searching for job location in seach bar
search_loc=driver.find_elements_by_id('scLocation')[0]

#sending keys to find jobs location in seach bar
search_loc.send_keys('Noida')

#clicking the search button
search_btn=driver.find_element_by_id('prefix__icon-arrow-1')
search_btn.click()

In [18]:
#xpath to find  company name
com_name=driver.find_elements_by_xpath('//a[@class=" css-l2wjgv e1n63ojh0 jobLink"]/span')
#fetching company names list
company=[]
for c in com_name[:10]:
    company.append(c.text)

#xpath to find  no.of days when job was posted
ndays=driver.find_elements_by_xpath('//div[@class="d-flex align-items-end pl-std css-mi55ob"]')
#fetching no. of days when job was posted
days=[]
for d in ndays[:10]:
    days.append(d.text)
    
#xpath to find company rating
rating=driver.find_elements_by_xpath('//span[@class="css-19pjha7 e1cjmv6j1"]')
#fetching rating for comapny
Rating=[]
for r in rating[:10]:
    Rating.append(r.text)

In [19]:
len(company),len(days),len(Rating)

(10, 10, 10)

In [20]:
#store the data in dataframe
jobs_glassdoor=pd.DataFrame({})
jobs_glassdoor['Comapny_name']=company
jobs_glassdoor['No. of Days']=days
jobs_glassdoor['Company_Rating']=Rating

In [21]:
jobs_glassdoor

  Comapny_name No. of Days Company_Rating
0        Kroll          6d            3.7
1        Kroll          6d            3.7
2     RoundSqr         24h            4.2
3     MyPaisaa          1d            5.0
4   S&P Global          2d            4.1
5  Enquero Inc          5d            3.8
6    Spotflock        30d+            4.0
7       Cyient        30d+            3.4
8    Apporchid         10d            4.5
9   Salesforce         24h            3.9

In [22]:
driver.close()

## Task5

#### write a python program to scrape the salary data for Data Scientist designation in Noida location. 
#### To scrape Company name, number of salaries,Average salary,Min salary,Max Salary from https://www.glassdoor.co.in/Salaries/index.htm
#### Store the collected data in a dataframe

In [2]:
driver=webdriver.Chrome(r'C:\Users\home\Downloads\chromedriver_win32\chromedriver.exe')

In [3]:
# get url
driver.get('https://www.glassdoor.co.in/Salaries/index.htm')

In [4]:
#xpath to find job in search bar
search_job=driver.find_elements_by_id('KeywordSearch')[0]

#sending keys to find jobs in seach bar
search_job.send_keys('Data Scientist')

#xpath to find job location in searchbar
search_loc=driver.find_elements_by_id('LocationSearch')[0]

#sending keys to find job location in search bar
search_loc.send_keys('Noida')

#xpath to search button
search_btn=driver.find_element_by_id('HeroSearchButton')
#clicking search button
search_btn.click()

In [6]:
#xpath to find company names
com_name=driver.find_elements_by_xpath('//p[@class="m-0 "]')
#fetching company names
company=[]
for c in com_name[:10]:
    company.append(c.text)

#xpath to find the no. of salaries
no_sal =driver.find_elements_by_xpath('//p[@class="css-1uyte9r css-1kuy7z7 m-0 "]')
#fetching no. of salaries
n_sal=[]
for n in no_sal[:10]:
    n_sal.append(n.text[:11])

#xpath to find the Avg salaries in company
avg_sal=driver.find_elements_by_xpath('//strong')
#fetching avarage salaries
Avg=[]
for a in avg_sal[1:20]:
    Avg.append(a.text)
res_avg = [Avg[i] for i in range(len(Avg)) if i % 2 != 1]

In [8]:
#xpath to find salary range
salary=driver.find_elements_by_xpath('//p[@class="d-block d-md-none m-0 css-1kuy7z7"]')

#fetching the min salary from salary range
min_sal=[]
for i in salary[:10]:
    min_sal.append(i.text[6:15].replace('-',''))

#fetching the max salary from salary range
max_sal=[]
for i in salary[:10]:
    max_sal.append(i.text[15::].replace('-',''))

In [10]:
len(company),len(n_sal),len(res_avg),len(min_sal),len(max_sal)

(10, 10, 10, 10, 10)

In [11]:
#storing the data in a dataframe
Salary_details=pd.DataFrame({})
Salary_details['Comapny_name']=company
Salary_details['No.of_salaries']=n_sal
Salary_details['Avarage_salary']=res_avg
Salary_details['Min_Salary']=min_sal
Salary_details['Max_Salary']=max_sal

In [12]:
Salary_details

,Comapny_name,No.of_salaries,Avarage_salary,Min_Salary,Max_Salary
0,Tata Consultancy Services,16 salaries,,₹343K,"₹1,095K"
1,Accenture,14 salaries,,₹577K,"₹2,213K"
2,IBM,14 salaries,,₹586K,"₹2,730K"
3,Ericsson-Worldwide,14 salaries,,₹355K,"₹1,613K"
4,Delhivery,14 salaries,,₹450K,"₹11,622K"
5,UnitedHealth Group,11 salaries,,"₹1,069K","₹1,520K"
6,Valiance Solutions,9 salaries,,₹502K,"₹1,465K"
7,ZS Associates,8 salaries,,₹202K,"₹1,809K"
8,EXL Service,8 salaries,,₹575K,"₹1,520K"
9,Optum Global Solutions,8 salaries,,"₹1,014K","₹2,149K"

In [13]:
driver.close()

# Task6

#### Scrape data of first 100 sunglasses listings on flipkar.com
#### To scrape four attributes: Brand,Product Description,Price,Discount%

In [2]:
#open driver
driver=webdriver.Chrome(r'C:\Users\home\Downloads\chromedriver_win32\chromedriver.exe')

In [3]:
driver.get('https://www.flipkart.com/')

In [4]:
#xpath of seach bar
search_bar=driver.find_elements_by_xpath('//div[@class="_3OO5Xc"]/input')[0]

#sending keys to find sunglasses in seach bar
search_bar.send_keys('sunglasses')

#xpath of seachbutton
search_btn=driver.find_element_by_xpath('//button[@class="L0Z3Pu"]')
#clicking search button
search_btn.click()

In [5]:
#xpath for pages 
page=driver.find_elements_by_xpath('//nav[@class="yFHi8N"]/a')

In [6]:
#urls of pages
url=[]
for i in page:
    url.append(i.get_attribute("href"))

In [7]:
url

['https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=1',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=2',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=3',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=4',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=5',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=6',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=7',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=8',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=9',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=10',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=2']

In [8]:
#arttibutes lists
brands=[]
descript=[]
price=[]
discount=[]

In [9]:
for i in url[:3]:
    driver.get(i)
    #xpath of brand names
    bname=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
    #loop to get text from xpath and appending into brands list
    for b in bname[:40]:
        brands.append(b.text)
     
    #xpath of short discription
    des=driver.find_elements_by_xpath('//div[@class="_2B099V"]/a')
    #loop to get text from xpath and appending into descript list
    for d in des[:80]:
        descript.append(d.text)
    
    #xpath of price 
    pri=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    #loop to get text from xpath and appending into price list
    for p in pri[:40]:
        price.append(p.text)
    
    #xpath of discount 
    dis=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
    #loop to get text from xpath and appending into discount list
    for d in dis[:40]:
        discount.append(d.text)

In [10]:
len(brands),len(descript),len(price),len(discount)

(120, 240, 120, 120)

In [11]:
descript

['UV Protection Rectangular Sunglasses (Free Size)',
 '₹630₹79921% off\nOr Pay ₹598 + \n 32',
 'UV Protection Retro Square Sunglasses (Free Size)',
 '₹499₹2,22577% off',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 '₹758₹89915% off\nOr Pay ₹720 + \n 38',
 'UV Protection Aviator Sunglasses (Free Size)',
 '₹349₹1,59978% off\nOr Pay ₹331 + \n 18',
 'UV Protection Retro Square Sunglasses (Free Size)',
 '₹399₹1,99980% off',
 'UV Protection Aviator, Wayfarer Sunglasses (Free Size)',
 '₹213₹1,19982% off',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 '₹404₹1,99979% off',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 '₹733₹89918% off\nOr Pay ₹696 + \n 37',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 '₹621₹79922% off\nOr Pay ₹589 + \n 32',
 'UV Protection Aviator Sunglasses (Free Size)',
 '₹674₹89925% off\nOr Pay ₹640 + \n 34',
 'UV Protection Wayfarer Sunglasses (55)',
 '₹251₹1,19979% off',
 'UV Protection Aviator Sunglasses (58)',
 '₹215₹78572% off\nOr Pay ₹204 + \n 11',
 'UV Protection Round Sunglasses (Free Size)',
 '₹209₹79973% off',
 'UV Protection Retro Square Sunglasses (Free Size)',
 '₹499₹2,25277% off',
 'UV Protection Aviator Sunglasses (Free Size)',
 '₹339₹1,19971% off',
 'Mirrored, Riding Glasses, Others Sports Sunglasses (50)',
 '₹249₹1,49983% off\nOr Pay ₹236 + \n 13',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 '₹399₹1,99980% off',
 'UV Protection Aviator Sunglasses (58)',
 '₹1,123₹1,29913% off\nOr Pay ₹1,066 + \n 57',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 '₹837₹8996% off\nOr Pay ₹795 + \n 42',
 'UV Protection, Riding Glasses Rectangular Sunglasses (F...',
 '₹449₹2,22579% off',
 'UV Protection Aviator Sunglasses (57)',
 '₹281₹1,99985% off',
 'UV Protection Aviator Sunglasses (58)',
 '₹1,085₹1,29916% off\nOr Pay ₹1,030 + \n 55',
 'UV Protection, Mirrored Retro Square Sunglasses (Free S...',
 '₹399₹1,99980% off',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 '₹638₹79920% off\nOr Pay ₹606 + \n 32',
 'UV Protection Wayfarer Sunglasses (56)',
 '₹759₹89915% off\nOr Pay ₹721 + \n 38',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 '₹576₹79927% off\nOr Pay ₹547 + \n 29',
 'UV Protection, Mirrored Aviator Sunglasses (Free Size)',
 '₹199₹99980% off',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 '₹499₹2,25677% off',
 'UV Protection Shield Sunglasses (54)',
 '₹499₹2,55580% off',
 'UV Protection Wayfarer Sunglasses (55)',
 '₹265₹1,29979% off',
 'UV Protection, Mirrored Round Sunglasses (Free Size)',
 '₹219₹1,59886% off',
 'UV Protection Rectangular Sunglasses (58)',
 '₹474₹1,49968% off',
 'UV Protection Wrap-around Sunglasses (Free Size)',
 '₹499₹1,49966% off',
 'UV Protection Retro Square Sunglasses (55)',
 '₹3,843₹5,49030% off\nOr Pay ₹3,650 + \n 193',
 'Mirrored Aviator Sunglasses (55)',
 '₹379₹1,49974% off',
 'UV Protection, Riding Glasses Wayfarer Sunglasses (53)',
 '₹260₹1,99586% off',
 'Mirrored Wayfarer Sunglasses (55)',
 '₹219₹99978% off',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 '₹198₹49960% off',
 'UV Protection Oval Sunglasses (56)',
 '₹284₹1,19976% off\nOr Pay ₹269 + \n 15',
 'UV Protection, Gradient Wayfarer Sunglasses (55)',
 '₹217₹99978% off',
 'Others Retro Square Sunglasses (Free Size)',
 '₹599₹75020% off\nOr Pay ₹569 + \n 30',
 'UV Protection Retro Square Sunglasses (Free Size)',
 '₹399₹2,19981% off',
 'Gradient, UV Protection Round Sunglasses (Free Size)',
 '₹449₹1,99577% off',
 'UV Protection, Gradient Oval Sunglasses (58)',
 '₹470₹1,52569% off\nOr Pay ₹446 + \n 24',
 'UV Protection Aviator Sunglasses (58)',
 '₹1,115₹1,29914% off\nOr Pay ₹1,059 + \n 56',
 'UV Protection, Riding Glasses, Others Aviator, Wayfarer...',
 '₹209₹69970% off',
 'UV Protection Shield Sunglasses (Free Size)',
 '₹759₹89915% off\nOr Pay ₹721 + \n 38',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 '₹449₹1,99977% off',
 'Polarized Sports Sunglasses (68)',
 '₹1,234₹2,49950% off',
 'Mirrored, UV Protection, Gradient Round Sunglasses (55)',
 '₹210₹1,46685% off',
 'UV Protection Aviator Sunglasses (57)',
 '₹359₹1,99982% off\nOr Pay ₹341 + \n 18',
 'UV Protection, Mirrored Wayfarer Sunglasses (53)',
 '₹199₹99980% off\nOr Pay ₹179 + \n 20',
 'UV Protection Sports Sunglasses (Free Size)',
 '₹319₹1,89983% off',
 'UV Protection, Mirrored Clubmaster Sunglasses (Free Siz...',
 '₹319₹1,99884% off',
 'UV Protection Round Sunglasses (Free Size)',
 '₹205₹99979% off',
 'Polarized, UV Protection Aviator Sunglasses (Free Size)',
 '₹449₹1,99977% off',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 '₹758₹89915% off\nOr Pay ₹720 + \n 38',
 'Polarized, UV Protection, Riding Glasses Wayfarer Sungl...',
 '₹234₹59960% off',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 '₹777₹99922% off\nOr Pay ₹738 + \n 39',
 'Polarized, UV Protection Aviator Sunglasses (58)',
 '₹711₹1,99964% off',
 'Night Vision, Riding Glasses Wayfarer Sunglasses (53)',
 '₹207₹1,79988% off',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 '₹627₹79921% off\nOr Pay ₹595 + \n 32',
 'UV Protection Clubmaster Sunglasses (Free Size)',
 '₹319₹1,99884% off',
 'UV Protection, Mirrored, Gradient Retro Square Sunglass...',
 '₹207₹1,99889% off',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 '₹399₹1,99980% off',
 'UV Protection Aviator Sunglasses (58)',
 '₹1,148₹1,29911% off\nOr Pay ₹1,090 + \n 58',
 'UV Protection Aviator Sunglasses (55)',
 '₹170₹99982% off',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 '₹449₹1,49970% off',
 'UV Protection, Night Vision, Riding Glasses Aviator Sun...',
 '₹292₹1,99985% off\nOr Pay ₹277 + \n 15',
 'UV Protection Retro Square Sunglasses (Free Size)',
 '₹399₹1,99980% off',
 'UV Protection Wayfarer Sunglasses (57)',
 '₹559₹79930% off\nOr Pay ₹531 + \n 28',
 'UV Protection, Gradient Cat-eye Sunglasses (58)',
 '₹480₹1,52568% off',
 'Mirrored Aviator Sunglasses (Free Size)',
 '₹399₹1,49973% off',
 'UV Protection, Mirrored, Gradient Wayfarer Sunglasses (...',
 '₹281₹1,99985% off',
 'UV Protection Aviator Sunglasses (58)',
 '₹829₹3,69977% off\nOr Pay ₹787 + \n 42',
 'UV Protection Round Sunglasses (Free Size)',
 '₹199₹99980% off',
 'UV Protection, Gradient Wayfarer Sunglasses (53)',
 '₹349₹1,99982% off\nOr Pay ₹331 + \n 18',
 'UV Protection, Others Aviator Sunglasses (32)',
 '₹349₹1,99982% off',
 'Mirrored, UV Protection Round Sunglasses (Free Size)',
 '₹399₹1,44672% off',
 'UV Protection, Polarized Wayfarer Sunglasses (56)',
 '₹759₹89915% off\nOr Pay ₹721 + \n 38',
 'UV Protection Rectangular Sunglasses (Free Size)',
 '₹3,843₹5,49030% off\nOr Pay ₹3,650 + \n 193',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 '₹449₹2,66583% off',
 'UV Protection Aviator Sunglasses (57)',
 '₹359₹1,99982% off\nOr Pay ₹341 + \n 18',
 'UV Protection Shield Sunglasses (Free Size)',
 '₹761₹89915% off\nOr Pay ₹722 + \n 39',
 'Polarized, UV Protection Retro Square Sunglasses (53)',
 '₹269₹99973% off',
 'Mirrored Aviator Sunglasses (58)',
 '₹399₹1,49973% off',
 'Gradient, UV Protection Round Sunglasses (Free Size)',
 '₹219₹1,29883% off',
 'UV Protection Wrap-around Sunglasses (63)',
 '₹281₹1,99985% off',
 'UV Protection Oval Sunglasses (60)',
 '₹756₹2,47569% off\nOr Pay ₹718 + \n 38',
 'Riding Glasses, UV Protection, Others Aviator Sunglasse...',
 '₹239₹1,49984% off\nOr Pay ₹227 + \n 12',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 '₹629₹79921% off\nOr Pay ₹597 + \n 32',
 'UV Protection Aviator Sunglasses (Free Size)',
 '₹499₹1,29961% off\nOr Pay ₹474 + \n 25',
 'UV Protection Retro Square Sunglasses (Free Size)',
 '₹289₹1,49980% off',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 '₹449₹1,99977% off',
 'UV Protection Oval Sunglasses (56)',
 '₹284₹1,19976% off\nOr Pay ₹269 + \n 15',
 'Mirrored Aviator Sunglasses (55)',
 '₹399₹1,49973% off',
 'Polarized, UV Protection Round Sunglasses (49)',
 '₹664₹1,99966% off',
 'UV Protection, Night Vision, Riding Glasses, Gradient, ...',
 '₹210₹1,29883% off',
 'UV Protection, Gradient Retro Square Sunglasses (62)',
 '₹499₹1,99975% off',
 'UV Protection Round Sunglasses (54)',
 '₹279₹2,49588% off',
 'UV Protection, Gradient Oval Sunglasses (58)',
 '₹493₹1,52567% off',
 'UV Protection Clubmaster Sunglasses (53)',
 '₹367₹1,49975% off\nOr Pay ₹348 + \n 19',
 'UV Protection Rectangular Sunglasses (59)',
 '₹1,097₹1,29915% off\nOr Pay ₹1,042 + \n 55',
 'UV Protection Aviator Sunglasses (57)',
 '₹207₹1,29984% off\nOr Pay ₹186 + \n 21',
 'Mirrored Aviator Sunglasses (55)',
 '₹399₹1,49973% off',
 'UV Protection, Gradient Aviator Sunglasses (57)',
 '₹207₹1,29984% off\nOr Pay ₹186 + \n 21',
 'UV Protection Aviator Sunglasses (57)',
 '₹207₹1,04980% off\nOr Pay ₹186 + \n 21',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 '₹777₹99922% off\nOr Pay ₹738 + \n 39',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 '₹499₹1,99975% off',
 'UV Protection, Gradient Aviator Sunglasses (55)',
 '₹286₹1,99985% off\nOr Pay ₹271 + \n 15',
 'UV Protection, Riding Glasses Wayfarer Sunglasses (56)',
 '₹246₹97574% off',
 'Gradient Aviator Sunglasses (58)',
 '₹7,281₹8,09010% off\nOr Pay ₹6,916 + \n 365',
 'UV Protection, Mirrored Clubmaster Sunglasses (53)',
 '₹175₹86079% off',
 'UV Protection, Riding Glasses Aviator Sunglasses (57)',
 '₹279₹1,99986% off\nOr Pay ₹251 + \n 28',
 'UV Protection Round Sunglasses (Free Size)',
 '₹449₹1,49970% off',
 'UV Protection Round Sunglasses (Free Size)',
 '₹331₹1,69980% off',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 '₹399₹1,99980% off',
 'UV Protection Cat-eye Sunglasses (60)',
 '₹403₹1,44572% off\nOr Pay ₹382 + \n 21',
 'UV Protection, Polarized Rectangular Sunglasses (Free S...',
 '₹279₹1,49981% off',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 '₹199₹99980% off']

In [12]:
D=descript[::2]

In [13]:
D

['UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Aviator, Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Mirrored, Riding Glasses, Others Sports Sunglasses (50)',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Rectangular Sunglasses (F...',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection, Mirrored Retro Square Sunglasses (Free S...',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (56)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Mirrored Aviator Sunglasses (Free Size)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Shield Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection, Mirrored Round Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (58)',
 'UV Protection Wrap-around Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (55)',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection, Riding Glasses Wayfarer Sunglasses (53)',
 'Mirrored Wayfarer Sunglasses (55)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Oval Sunglasses (56)',
 'UV Protection, Gradient Wayfarer Sunglasses (55)',
 'Others Retro Square Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'Gradient, UV Protection Round Sunglasses (Free Size)',
 'UV Protection, Gradient Oval Sunglasses (58)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection, Riding Glasses, Others Aviator, Wayfarer...',
 'UV Protection Shield Sunglasses (Free Size)',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'Polarized Sports Sunglasses (68)',
 'Mirrored, UV Protection, Gradient Round Sunglasses (55)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection, Mirrored Wayfarer Sunglasses (53)',
 'UV Protection Sports Sunglasses (Free Size)',
 'UV Protection, Mirrored Clubmaster Sunglasses (Free Siz...',
 'UV Protection Round Sunglasses (Free Size)',
 'Polarized, UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized, UV Protection, Riding Glasses Wayfarer Sungl...',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized, UV Protection Aviator Sunglasses (58)',
 'Night Vision, Riding Glasses Wayfarer Sunglasses (53)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Clubmaster Sunglasses (Free Size)',
 'UV Protection, Mirrored, Gradient Retro Square Sunglass...',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Aviator Sunglasses (55)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Night Vision, Riding Glasses Aviator Sun...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (57)',
 'UV Protection, Gradient Cat-eye Sunglasses (58)',
 'Mirrored Aviator Sunglasses (Free Size)',
 'UV Protection, Mirrored, Gradient Wayfarer Sunglasses (...',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection, Gradient Wayfarer Sunglasses (53)',
 'UV Protection, Others Aviator Sunglasses (32)',
 'Mirrored, UV Protection Round Sunglasses (Free Size)',
 'UV Protection, Polarized Wayfarer Sunglasses (56)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Shield Sunglasses (Free Size)',
 'Polarized, UV Protection Retro Square Sunglasses (53)',
 'Mirrored Aviator Sunglasses (58)',
 'Gradient, UV Protection Round Sunglasses (Free Size)',
 'UV Protection Wrap-around Sunglasses (63)',
 'UV Protection Oval Sunglasses (60)',
 'Riding Glasses, UV Protection, Others Aviator Sunglasse...',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Oval Sunglasses (56)',
 'Mirrored Aviator Sunglasses (55)',
 'Polarized, UV Protection Round Sunglasses (49)',
 'UV Protection, Night Vision, Riding Glasses, Gradient, ...',
 'UV Protection, Gradient Retro Square Sunglasses (62)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection, Gradient Oval Sunglasses (58)',
 'UV Protection Clubmaster Sunglasses (53)',
 'UV Protection Rectangular Sunglasses (59)',
 'UV Protection Aviator Sunglasses (57)',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection, Gradient Aviator Sunglasses (57)',
 'UV Protection Aviator Sunglasses (57)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection, Gradient Aviator Sunglasses (55)',
 'UV Protection, Riding Glasses Wayfarer Sunglasses (56)',
 'Gradient Aviator Sunglasses (58)',
 'UV Protection, Mirrored Clubmaster Sunglasses (53)',
 'UV Protection, Riding Glasses Aviator Sunglasses (57)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'UV Protection Cat-eye Sunglasses (60)',
 'UV Protection, Polarized Rectangular Sunglasses (Free S...',
 'UV Protection Wayfarer Sunglasses (Free Size)']

In [14]:
len(D)

120

In [15]:
sunglass_data=pd.DataFrame({})
sunglass_data['Brands']=brands[:100]
sunglass_data['Description']=D[:100]
sunglass_data['Price']=price[:100]
sunglass_data['Discount']=discount[:100]

In [16]:
sunglass_data

,Brands,Description,Price,Discount
0,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹630,21% off
1,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (Free Size),₹499,77% off
2,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹758,15% off
3,PIRASO,UV Protection Aviator Sunglasses (Free Size),₹349,78% off
4,PHENOMENAL,UV Protection Retro Square Sunglasses (Free Size),₹399,80% off
...,...,...,...,...
95,ROYAL SON,Mirrored Aviator Sunglasses (55),₹399,73% off
96,ROYAL SON,"Polarized, UV Protection Round Sunglasses (49)",₹664,66% off
97,hipe,"UV Protection, Night Vision, Riding Glasses, G...",₹210,83% off
98,ROZZETTA CRAFT,"UV Protection, Gradient Retro Square Sunglasse...",₹499,75% off
99,Elligator,UV Protection Round Sunglasses (54),₹279,88% off

In [17]:
driver.close()

# Task-7

####  scrape 100 reviews data from flipkart.com for iphone11phone 
#### scrape link https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace

#### scrape attribute : Rating,Review_summary,Full review

In [2]:
driver=webdriver.Chrome(r'C:\Users\home\Downloads\chromedriver_win32\chromedriver.exe')

In [3]:
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace')

In [13]:
all_reviews=driver.find_element_by_xpath('//*[@id="container"]/div/div[3]/div[1]/div[2]/div[9]/div/div/div[5]/div/a')
all_reviews.click()

In [14]:
#pages by clicking next
next=driver.find_elements_by_xpath('//a[@class="ge-49M"]')

In [16]:
#urls to next page
url=[]
for i in next[0:]:
    url.append(i.get_attribute("href"))
url

['https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=2',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=3',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=4',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=5',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=6',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=7',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=8',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=9',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=10']

In [17]:
#defining attributes
rating=[]
review_summary=[]
full_review=[]

In [18]:
#collecting first page reviews
#xpath of rating
rate=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
#appending text of rating in its list
for i in rate:
    rating.append(i.text)

#xpath of review summary
summary=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
#appending text of summary in its list 
for b in summary:
    review_summary.append(b.text)

#xpath of full review
freview=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
#appending txt of full review in its list
for f in freview:
    full_review.append(f.text)

In [19]:
#collecting reviews data from page 2 by urls 
for u in url:
    driver.get(u)
    
    #xpath to collect the rating text
    r=driver.find_elements_by_xpath('//div[@class="col _2wzgFH K0kLPL"]/div[1]/div')
    for i in r:
        #appending collecting data into rating list
        rating.append(i.text)

    #xpath to collect the rate summary 
    rs=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]') 
    for b in rs:
        #appending collecting data into review_summary list
        review_summary.append(b.text)


    #xpath to collect the full review
    fr=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
    for f in fr:
        #appending collecting data into full_reviewlist
        full_review.append(f.text)

In [20]:
len(rating),len(review_summary),len(full_review)

(100, 100, 100)

In [21]:
#storing the collected data into dataframe
iphone11_review=pd.DataFrame({})
iphone11_review['Rating']=rating
iphone11_review['Review_Summary']=review_summary
iphone11_review['Full_Review']=full_review

In [22]:
iphone11_review

,Rating,Review_Summary,Full_Review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
3,5,Worth every penny,Previously I was using one plus 3t it was a gr...
4,4,Good choice,So far it’s been an AMAZING experience coming ...
...,...,...,...
95,5,Terrific purchase,"Well , as we all know if its not an Iphone , i..."
96,5,Excellent,A perfect phone and a good battery super camer...
97,5,Wonderful,Nice value for money good and best price I pho...
98,5,Fabulous!,Just an awesome phone...upgraded from 6s to 11...
99,4,Value-for-money,As usual a great product from Apple. but the l...

In [23]:
driver.close()

# Task-8

#### scrape data for first 100 sneakers you fine when you visit flipkart.com and search for "sneakers" in the search field
#### scrape attributes of each sneaker:  Brand,Preoduct Description, Price,discount%

In [2]:
driver=webdriver.Chrome(r'C:\Users\home\Downloads\chromedriver_win32\chromedriver.exe')

In [3]:
driver.get('https://www.flipkart.com/')

In [4]:
#xpath to find element in seachbar
search_bar=driver.find_elements_by_xpath('//div[@class="_3OO5Xc"]/input')[0]
#sending keys to find sneakers seach bar
search_bar.send_keys('sneakers')

#xpath of search button 
search_btn=driver.find_element_by_xpath('//*[@id="container"]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
#clicking seach button
search_btn.click()

In [5]:
#defining attributes
brands=[]
descript=[]
price=[]
discount=[]

In [6]:
#collecting requried data from first page
#xpath of brand names
bname=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
#loop to get text from xpath and appending into brands list
for b in bname[:40]:
    brands.append(b.text)
     
#xpath of short discription
des=driver.find_elements_by_xpath('//div[@class="_2B099V"]/a')
#loop to get text from xpath and appending into descript list
for d in des:
    descript.append(d.text)
    
#xpath of price 
pri=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
#loop to get text from xpath and appending into price list
for p in pri[:40]:
    price.append(p.text)
    
#xpath of discount 
dis=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
#loop to get text from xpath and appending into discount list
for d in dis[:40]:
        discount.append(d.text)

In [7]:
#pages by clicking next
next=driver.find_elements_by_xpath('//a[@class="ge-49M"]')

url=[]
#loop to collect the urls for next pages
for i in next:
    url.append(i.get_attribute("href"))
url

['https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=2',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=3',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=4',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=5',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=6',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=7',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=8',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=9',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=10']

In [8]:
#collect data from second page 
for i in url[:2]:
    driver.get(i)
    #xpath of brand names
    bname=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
    #loop to get text from xpath and appending into brands list
    for b in bname[:40]:
        brands.append(b.text)
     
    #xpath of short discription
    des=driver.find_elements_by_xpath('//div[@class="_2B099V"]/a')
    #loop to get text from xpath and appending into descript list
    for d in des:
        descript.append(d.text)
    
    #xpath of price 
    pri=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    #loop to get text from xpath and appending into price list
    for p in pri[:40]:
        price.append(p.text)
    
    #xpath of discount 
    dis=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
    #loop to get text from xpath and appending into discount list
    for d in dis[:40]:
        discount.append(d.text)

In [9]:
descript

['Casual Sneakers Shoes For Men Sneakers For Men',
 '₹379₹99962% off',
 'Sneakers Sneakers For Men',
 '₹283₹49943% off\nOr Pay ₹254 + \n 29',
 'Sneakers For Men',
 '₹398₹99960% off',
 'Sneakers For Men',
 '₹474₹99952% off',
 'Sneakers For Men',
 '₹298₹99970% off',
 'Combo pack of 2 casual sneaker shoes for men Sneakers F...',
 '₹377₹99862% off\nOr Pay ₹358 + \n 19',
 'Classy Sneakers For Men',
 '₹242₹69965% off',
 "White Sneaker For Men's/Boy's Sneakers For Men",
 '₹331₹99966% off\nOr Pay ₹314 + \n 17',
 'Combo Pack Of 4 Canvas Sneakers For Men',
 '₹499₹3,49985% off',
 'Sneakers For Men',
 '₹419₹99958% off\nOr Pay ₹398 + \n 21',
 'Combo Pack of 4 Casual Shoes Sneakers For Men',
 '₹842₹1,99657% off',
 'Fashionable casual sneakers shoes for men Sneakers For ...',
 '₹449₹1,99977% off',
 'Casual Sneakers Black Shoes For Men Sneakers For Men',
 '₹428₹99957% off\nOr Pay ₹406 + \n 22',
 'casual for men (blue 06) Sneakers For Men',
 '₹474₹99952% off\nOr Pay ₹450 + \n 24',
 'Sneakers For Men',
 '₹328₹1,29974% off\nOr Pay ₹311 + \n 17',
 'Combo Pack of 4 Latest Collection Stylish Casual Loafer...',
 '₹499₹2,64081% off',
 '5011-Latest Collection Stylish Casual Loafer Sneakers S...',
 '₹240₹49951% off',
 'ORIFWSH(OR)-1077 Sneakers For Men',
 '₹214₹49957% off\nOr Pay ₹203 + \n 11',
 'Latest Stylish Casual sneakers for men | Lace up lightw...',
 '₹379₹99962% off',
 'Men 5014 Latest Collection Stylish Casual Sports Loafer...',
 '₹240₹49951% off',
 'Casual shoes Sneakers For Men',
 '₹379₹99962% off',
 'Series 7 Sneakers For Men',
 '₹416₹99958% off',
 'Sneakers Sneakers For Men',
 '₹299₹49940% off\nOr Pay ₹269 + \n 30',
 'SM-482 Sneakers For Men',
 '₹965₹1,34928% off',
 'Casual Sneaker Sneakers For Men',
 '₹539₹99946% off',
 'White Sneakers Sneakers For Men',
 '₹305₹99969% off',
 'Sneakers Sneakers For Men',
 '₹398₹99960% off',
 'Combo Pack of 2 Latest Collection Stylish Casual Loafer...',
 '₹299₹1,36478% off',
 'Sneakers For Men',
 '₹399₹99960% off',
 'Synthetic Leather Casual Partywear Wedding Sneakers Sho...',
 '₹378₹99962% off',
 'Sneakers For Men',
 '₹455₹1,49969% off\nOr Pay ₹409 + \n 46',
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 '₹367₹65944% off',
 'Sneakers For Men',
 '₹240₹49951% off',
 'Fashionable casual sneaker shoes Sneakers For Men',
 '₹429₹2,99985% off',
 'Sneakers For Men',
 '₹599₹99940% off',
 'SD-323 Sneakers For Men',
 '₹631₹74915% off',
 'Sneakers for men(black_6) Sneakers For Men',
 '₹446₹99955% off\nOr Pay ₹423 + \n 23',
 'Sneakers for man Sneakers For Men',
 '₹449₹99955% off',
 'SM-439 Sneakers For Men',
 '₹699',
 'Casual Loafers, Sneakers Shoes for Men Pack of 5 Combo(...',
 '₹719₹2,49571% off\nOr Pay ₹683 + \n 36',
 'shoe Sneakers For Men',
 '₹265₹49946% off',
 'Sneakers For Men',
 '₹429₹99957% off\nOr Pay ₹407 + \n 22',
 'Latest Collection-1227 Stylish Casual Sports Sneakers F...',
 '₹240₹49951% off',
 'high quality casual sneaker shoes Sneakers For Men',
 '₹390₹1,99980% off',
 'Anzarun Lite Sneakers For Men',
 '₹1,975₹2,99934% off\nOr Pay ₹1,876 + \n 99',
 'Sneakers For Men',
 '₹368₹99963% off',
 'Sneakers For Men',
 '₹509₹1,49966% off',
 'Sneakers For Men',
 '₹299₹1,29976% off',
 'Sneakers For Men',
 '₹599₹1,99970% off',
 'White Shoes For Men | Casual White Laceups Shoes | Whit...',
 '₹499₹1,49966% off',
 'casual shoe for men Sneakers For Men',
 '₹474₹99952% off\nOr Pay ₹450 + \n 24',
 'Sneakers For Men',
 '₹299₹99970% off',
 'M K Footwear 702_Blue Sneakers For Men',
 '₹389₹99961% off',
 'Sneakers For Men',
 '₹599₹99940% off',
 'Sneakers For Men',
 '₹599₹99940% off',
 'Sneakers For Men',
 '₹699₹1,29946% off',
 'Sneakers For Men',
 '₹205₹49958% off',
 'Sneakers For Men',
 '₹442₹99955% off\nOr Pay ₹397 + \n 45',
 'Casual Sneakers Shoes For Men Sneakers For Men',
 '₹474₹99952% off\nOr Pay ₹450 + \n 24',
 'Sneakers Sneakers For Men',
 '₹299₹49940% off\nOr Pay ₹284 + \n 15',
 'Sneakers For Men',
 '₹442₹99955% off\nOr Pay ₹397 + \n 45',
 'Cipramo Sneakers Long Shoes Sneakers For Men',
 '₹664₹99933% off',
 'Icon IDP Sneakers For Men',
 '₹1,220₹3,29963% off\nOr Pay ₹1,159 + \n 61',
 'Combo Pack of 2 Latest Collection Stylish Casual Shoes ...',
 '₹328₹99867% off',
 'GEL-QUANTUM FESTA Sneakers For Men',
 '₹3,201₹6,99954% off\nOr Pay ₹3,040 + \n 161',
 "White Sneaker For Men's/Boy's Sneakers For Men Sneakers...",
 '₹359₹99964% off',
 'Sneakers For Men',
 '₹290₹99970% off',
 'Sneakers For Men',
 '₹635₹99936% off',
 'Casual shoes Sneakers For Men',
 '₹359₹99964% off',
 'Sneakers For Men',
 '₹464₹99953% off',
 "Men's Stylish Casual Shoes Sneakers For Men",
 '₹315₹49936% off',
 '489 Black Sneakers For Men',
 '₹279₹99972% off',
 '1002 Sneakers For Men',
 '₹463₹99953% off',
 '283 Sneakers For Men',
 '₹899',
 'SM439G Sneakers For Men',
 '₹699',
 'Sneakers For Men',
 '₹424₹99957% off',
 'CUBIC_1 Sneakers For Men',
 '₹299₹1,29976% off',
 "Men's Ultraforce Mid-top Athletic-Inspired Retro Fashio...",
 '₹998₹2,49960% off',
 'Sneakers For Men',
 '₹224₹49955% off\nOr Pay ₹212 + \n 12',
 'Sneakers For Men',
 '₹240₹49951% off',
 'Casual Sneaker Sneakers For Men',
 '₹599₹99940% off\nOr Pay ₹569 + \n 30',
 'casual shoe for men Sneakers For Men',
 '₹474₹99952% off\nOr Pay ₹450 + \n 24',
 'Sneakers For Men',
 '₹442₹99955% off\nOr Pay ₹397 + \n 45',
 'Colourblocked Trending Multicolor Ultralight canvas Spo...',
 '₹398₹99960% off\nOr Pay ₹378 + \n 20',
 'Sneakers For Men',
 '₹449₹99955% off',
 'Sneakers For Men',
 '₹449₹99955% off',
 'COMBO-(2)-RWT Sneakers For Men',
 '₹367₹99863% off',
 'Synthetic Leather Casual Sneakers Shoes For Men Sneaker...',
 '₹449₹99955% off',
 "Men's White Suede Leather Lace-Up High Ankle Casual Sne...",
 '₹471₹1,19960% off',
 'Icon IDP Sneakers For Men',
 '₹1,047₹3,29968% off\nOr Pay ₹994 + \n 53',
 'Casual sneakers shoes for men Sneakers For Men',
 '₹479₹3,99988% off',
 'Rockstyle Trending Multicolor Ultralight canvas Sport/ ...',
 '₹474₹1,29963% off',
 'Sneakers For Men',
 '₹371₹99962% off',
 'casual for men (beige 06) Sneakers For Men',
 '₹474₹99952% off\nOr Pay ₹450 + \n 24',
 '1258-1259 CASUAL SHOE Sneakers For Men',
 '₹398₹99860% off',
 'Sneakers For Men',
 '₹474₹99952% off',
 'Spring Season White Shoes Men Running Flat PU Leather S...',
 '₹372₹99962% off',
 'Fashion Outdoor Canvas Casual Light Weight Partywear Sn...',
 '₹449₹99955% off',
 'Sneakers For Men',
 '₹449₹99955% off',
 'Sneakers For Men',
 '₹379₹99962% off',
 "casual , Partywear Sneakers Shoes For Men's and Boys bl...",
 '₹499₹99950% off',
 'Combo Pack of 2 Casual Loafer Sneakers Shoes Sneakers F...',
 '₹299₹1,36478% off',
 'Sneakers For Men',
 '₹349₹99965% off',
 'Smart Sneakers For Men',
 '₹424₹99957% off\nOr Pay ₹381 + \n 43',
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 '₹384₹99961% off',
 '081 Sneakers For Men',
 '₹1,316₹1,54915% off',
 'Casual Sneaker Sneakers For Men',
 '₹599₹99940% off',
 'Sneakers For Men',
 '₹499₹99950% off',
 'casual for men (black 08) Sneakers For Men',
 '₹474₹99952% off\nOr Pay ₹450 + \n 24',
 'STYLISH Sneakers For Men',
 '₹298₹99970% off',
 'Men Running Flat PU Synthetic Sneakers Male Black Board...',
 '₹451₹99954% off\nOr Pay ₹428 + \n 23',
 'Sneakers For Men',
 '₹381₹99961% off\nOr Pay ₹342 + \n 39',
 'Men Boxer Sneakers For Men',
 '₹249₹49950% off',
 'Sneakers For Men',
 '₹359₹49928% off',
 'Puma Wired Cage Sneakers For Men',
 '₹1,609₹3,49954% off\nOr Pay ₹1,528 + \n 81',
 'Sneakers For Men',
 '₹441₹99955% off',
 'STYLISH Sneakers For Men',
 '₹398₹99960% off\nOr Pay ₹378 + \n 20',
 'Ascend Lite Sneakers For Men',
 '₹2,299₹4,99954% off\nOr Pay ₹2,184 + \n 115',
 'Latest Design Sneakers For Men',
 '₹549₹99945% off',
 'Fashionable casual sneakers shoes Sneakers For Men',
 '₹449₹2,49982% off']

In [11]:
desc=descript[::2]
desc

['Casual Sneakers Shoes For Men Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Combo pack of 2 casual sneaker shoes for men Sneakers F...',
 'Classy Sneakers For Men',
 "White Sneaker For Men's/Boy's Sneakers For Men",
 'Combo Pack Of 4 Canvas Sneakers For Men',
 'Sneakers For Men',
 'Combo Pack of 4 Casual Shoes Sneakers For Men',
 'Fashionable casual sneakers shoes for men Sneakers For ...',
 'Casual Sneakers Black Shoes For Men Sneakers For Men',
 'casual for men (blue 06) Sneakers For Men',
 'Sneakers For Men',
 'Combo Pack of 4 Latest Collection Stylish Casual Loafer...',
 '5011-Latest Collection Stylish Casual Loafer Sneakers S...',
 'ORIFWSH(OR)-1077 Sneakers For Men',
 'Latest Stylish Casual sneakers for men | Lace up lightw...',
 'Men 5014 Latest Collection Stylish Casual Sports Loafer...',
 'Casual shoes Sneakers For Men',
 'Series 7 Sneakers For Men',
 'Sneakers Sneakers For Men',
 'SM-482 Sneakers For Men',
 'Casual Sneaker Sneakers For Men',
 'White Sneakers Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Combo Pack of 2 Latest Collection Stylish Casual Loafer...',
 'Sneakers For Men',
 'Synthetic Leather Casual Partywear Wedding Sneakers Sho...',
 'Sneakers For Men',
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 'Sneakers For Men',
 'Fashionable casual sneaker shoes Sneakers For Men',
 'Sneakers For Men',
 'SD-323 Sneakers For Men',
 'Sneakers for men(black_6) Sneakers For Men',
 'Sneakers for man Sneakers For Men',
 'SM-439 Sneakers For Men',
 'Casual Loafers, Sneakers Shoes for Men Pack of 5 Combo(...',
 'shoe Sneakers For Men',
 'Sneakers For Men',
 'Latest Collection-1227 Stylish Casual Sports Sneakers F...',
 'high quality casual sneaker shoes Sneakers For Men',
 'Anzarun Lite Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'White Shoes For Men | Casual White Laceups Shoes | Whit...',
 'casual shoe for men Sneakers For Men',
 'Sneakers For Men',
 'M K Footwear 702_Blue Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Casual Sneakers Shoes For Men Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Sneakers For Men',
 'Cipramo Sneakers Long Shoes Sneakers For Men',
 'Icon IDP Sneakers For Men',
 'Combo Pack of 2 Latest Collection Stylish Casual Shoes ...',
 'GEL-QUANTUM FESTA Sneakers For Men',
 "White Sneaker For Men's/Boy's Sneakers For Men Sneakers...",
 'Sneakers For Men',
 'Sneakers For Men',
 'Casual shoes Sneakers For Men',
 'Sneakers For Men',
 "Men's Stylish Casual Shoes Sneakers For Men",
 '489 Black Sneakers For Men',
 '1002 Sneakers For Men',
 '283 Sneakers For Men',
 'SM439G Sneakers For Men',
 'Sneakers For Men',
 'CUBIC_1 Sneakers For Men',
 "Men's Ultraforce Mid-top Athletic-Inspired Retro Fashio...",
 'Sneakers For Men',
 'Sneakers For Men',
 'Casual Sneaker Sneakers For Men',
 'casual shoe for men Sneakers For Men',
 'Sneakers For Men',
 'Colourblocked Trending Multicolor Ultralight canvas Spo...',
 'Sneakers For Men',
 'Sneakers For Men',
 'COMBO-(2)-RWT Sneakers For Men',
 'Synthetic Leather Casual Sneakers Shoes For Men Sneaker...',
 "Men's White Suede Leather Lace-Up High Ankle Casual Sne...",
 'Icon IDP Sneakers For Men',
 'Casual sneakers shoes for men Sneakers For Men',
 'Rockstyle Trending Multicolor Ultralight canvas Sport/ ...',
 'Sneakers For Men',
 'casual for men (beige 06) Sneakers For Men',
 '1258-1259 CASUAL SHOE Sneakers For Men',
 'Sneakers For Men',
 'Spring Season White Shoes Men Running Flat PU Leather S...',
 'Fashion Outdoor Canvas Casual Light Weight Partywear Sn...',
 'Sneakers For Men',
 'Sneakers For Men',
 "casual , Partywear Sneakers Shoes For Men's and Boys bl...",
 'Combo Pack of 2 Casual Loafer Sneakers Shoes Sneakers F...',
 'Sneakers For Men',
 'Smart Sneakers For Men',
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 '081 Sneakers For Men',
 'Casual Sneaker Sneakers For Men',
 'Sneakers For Men',
 'casual for men (black 08) Sneakers For Men',
 'STYLISH Sneakers For Men',
 'Men Running Flat PU Synthetic Sneakers Male Black Board...',
 'Sneakers For Men',
 'Men Boxer Sneakers For Men',
 'Sneakers For Men',
 'Puma Wired Cage Sneakers For Men',
 'Sneakers For Men',
 'STYLISH Sneakers For Men',
 'Ascend Lite Sneakers For Men',
 'Latest Design Sneakers For Men',
 'Fashionable casual sneakers shoes Sneakers For Men']

In [12]:
sneakers_data=pd.DataFrame({})
sneakers_data['Brands']=brands[:100]
sneakers_data['Description']=desc[:100]
sneakers_data['Price']=price[:100]
sneakers_data['Discount']=discount[:100]

In [13]:
sneakers_data

,Brands,Description,Price,Discount
0,Robbie jones,Casual Sneakers Shoes For Men Sneakers For Men,₹379,62% off
1,HOTSTYLE,Sneakers Sneakers For Men,₹283,43% off
2,Numenzo,Sneakers For Men,₹398,60% off
3,Robbie jones,Sneakers For Men,₹474,52% off
4,aadi,Sneakers For Men,₹298,70% off
...,...,...,...,...
95,STRANGER BROTHERS,Sneakers For Men,₹474,55% off
96,NATOINAL HUNT,Spring Season White Shoes Men Running Flat PU ...,₹372,62% off
97,BLACK BOTTOM,Fashion Outdoor Canvas Casual Light Weight Par...,₹449,50% off
98,Deals4you,Sneakers For Men,₹449,78% off
99,TR,Sneakers For Men,₹379,65% off

In [14]:
driver.close()

# Task-9

####  Go to link- https://www.mytra.com/shoes scrape the first 100 shoes data by set price filter to "Rs.6649 to Rs.13099",Color filter to "Black"
#### scrape attributes: Brand of the shoes,Short Shoe description,price of the shoe 
#### store the data in a dataframe

In [2]:
driver=webdriver.Chrome(r'C:\Users\home\Downloads\chromedriver_win32\chromedriver.exe')

In [3]:
#get url 
driver.get('https://www.myntra.com/shoes')

In [4]:
#applying filters
#filter to Rs.6649 to Rs.13099
price_filter=driver.find_element_by_xpath('//*[@id="mountRoot"]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div')
#clicking check box
price_filter.click()

In [5]:
#apply filter that to show black color only
color_filter=driver.find_element_by_xpath('//*[@id="mountRoot"]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div')
#clicking color filter check box 
color_filter.click()

In [6]:
brands=[]
descript=[]
price=[]

In [7]:
#xpath of brand names
bname=driver.find_elements_by_xpath('//h3[@class="product-brand"]')
#loop to get text from xpath and appending into brands list
for b in bname:
    brands.append(b.text)
     
#xpath of short discription
des=driver.find_elements_by_xpath('//h4[@class="product-product"]')
#loop to get text from xpath and appending into descript list
for d in des:
     descript.append(d.text)
    
#xpath of price 
pri=driver.find_elements_by_xpath("//div[@class='product-price']/span[1]")
#loop to get text from xpath and appending into price list
for p in pri:
    price.append(p.text[4:10].replace('R','').replace('s',''))

In [8]:
len(brands),len(descript),len(price)

(50, 50, 50)

In [9]:
next=driver.find_element_by_xpath('//li[@class="pagination-next"]/a')
next.click()

In [10]:
#collecting data from second page
#xpath of brand names
bname=driver.find_elements_by_xpath('//h3[@class="product-brand"]')
#loop to get text from xpath and appending into brands list
for b in bname:
    brands.append(b.text)
     
#xpath of short discription
des=driver.find_elements_by_xpath('//h4[@class="product-product"]')
#loop to get text from xpath and appending into descript list
for d in des:
     descript.append(d.text)
    
#xpath of price 
pri=driver.find_elements_by_xpath("//div[@class='product-price']/span[1]")
#loop to get text from xpath and appending into price list
for p in pri:
    price.append(p.text[4:10].replace('R','').replace('s',''))

In [11]:
len(brands),len(descript),len(price)

(100, 100, 100)

In [12]:
myntra_shoes_data=pd.DataFrame({})
myntra_shoes_data['Brands']=brands
myntra_shoes_data['Description']=descript
myntra_shoes_data['Price']=price

In [13]:
myntra_shoes_data

              Brands                        Description  Price
0               Nike          Men JORDAN DELTA Sneakers  10995
1    PUMA Motorsport          Ferrari Race 2.0 Sneakers   9999
2   ADIDAS Originals     Men Nite Jogger Fluid Sneakers   8449
3    PUMA Motorsport     Men Ferrari Race Kart Sneakers   9999
4    PUMA Motorsport          Men Ferrari Race Sneakers   7999
..               ...                                ...    ...
95         Florsheim    Men Solid Leather Formal Derbys   6995
96              Nike          Men REACT MILER 2 Running   9770
97      UNDER ARMOUR          Charged Pursuit 2 Running   6999
98             Ruosh  Men Solid Leather Formal Slip-Ons   6990
99              Nike       Men REACT INFINITY RUN Shoes  12320

[100 rows x 3 columns]

In [18]:
driver.close()

# Task-10

####  Go to webpage https://www.amazon.in/. Enter "Laptop" in the search field and then click the search icon.
#### Then set CPU Type filter to "Intel Core i7" and "Intel Core i9"
#### Scrape attributes: Title,Ratting,Price

In [2]:
driver=webdriver.Chrome(r'C:\Users\home\Downloads\chromedriver_win32\chromedriver.exe')

In [3]:
driver.get('https://www.amazon.in/')

In [4]:
#findind by id to search bar 
search=driver.find_elements_by_id('twotabsearchtextbox')[0]
#sending keys to search Laptop
search.send_keys('Laptop')

In [5]:
#finding search button
search_button=driver.find_elements_by_id('nav-search-submit-button')[0]
#clicking search button
search_button.click()

In [6]:
#defining attributes
Title=[]
Rating=[]
Price=[]

In [7]:
#applying filter cpu type intel core i9
i9_filter=driver.find_element_by_xpath('//*[@id="p_n_feature_thirteen_browse-bin/16757432031"]/span/a/div/label/i')
i9_filter.click()

In [8]:
#cpu type Intel core i9
#xpath of title
title=driver.find_elements_by_xpath('//span[@class="a-size-medium a-color-base a-text-normal"]')
#loop to get text from xpath and appending into Title list
for t in title[:10]:
    Title.append(t.text)

#xpath of price 
pri=driver.find_elements_by_xpath('//span[@class="a-price-whole"]')
#loop to get text from xpath and appending into Price list
for p in pri[:10]:
    Price.append(p.text)
#xpath of rating
rating=driver.find_elements_by_xpath('//div[@class="a-row a-size-small"]/span[1]')
#loop to get text from xpath and appending into Rating list
for r in rating[:10]:
    Rating.append(r.get_attribute("aria-label"))

In [9]:
#clearing filter 
i9_filter=driver.find_element_by_xpath('//*[@id="p_n_feature_thirteen_browse-bin/16757432031"]/span/a/div/label/i')
i9_filter.click()

In [10]:
#applying filter cpu type intel core i7 
i7_filter=driver.find_element_by_xpath('//*[@id="p_n_feature_thirteen_browse-bin/12598163031"]/span/a/div/label/i')
i7_filter.click()

In [11]:
#cpu type Intel core i7
#xpath of title
title=driver.find_elements_by_xpath('//span[@class="a-size-medium a-color-base a-text-normal"]')
#loop to get text from xpath and appending into Title list
for t in title[:10]:
    Title.append(t.text)

#xpath of price 
pri=driver.find_elements_by_xpath('//span[@class="a-price-whole"]')
#loop to get text from xpath and appending into Price list
for p in pri[:10]:
    Price.append(p.text)
#xpath of rating
rating=driver.find_elements_by_xpath('//div[@class="a-row a-size-small"]/span[1]')
#loop to get text from xpath and appending into Rating list
for r in rating[:10]:
    Rating.append(r.get_attribute("aria-label"))

In [12]:
len(Title),len(Rating),len(Price)

(20, 20, 20)

In [13]:
#storing colleted data in data frame
Lapton_data=pd.DataFrame({})
Lapton_data['Title']=Title
Lapton_data['Rating']=Rating
Lapton_data['Price']=Price

In [14]:
Lapton_data

,Title,Rating,Price
0,ASUS ZenBook Pro Duo Intel Core i9-10980HK 10t...,3.8 out of 5 stars,"3,04,999"
1,"ASUS ROG G703GI-E5148T 17.3"" (43.94 cms) FHD 1...",3.7 out of 5 stars,"4,13,890"
2,"Dell XPS 9570 15.6"" (39.62cms) UHD Laptop (8th...",2.4 out of 5 stars,"2,48,790"
3,ASUS ZenBook Pro Duo UX581GV-H2041T Intel Core...,3.8 out of 5 stars,"2,79,990"
4,Lenovo Legion 7 10th Gen Intel Core i9 15.6 in...,3.7 out of 5 stars,"2,62,990"
5,"ASUS ROG Zephyrus Duo 15, 15.6"" FHD 300Hz/3ms,...",4.8 out of 5 stars,"2,66,990"
6,"ASUS ROG Strix Scar 17 (2020), 17.3"" FHD 300Hz...",4.2 out of 5 stars,"2,77,639"
7,(Renewed) Dell XPS 9570 Laptop|i9-8950HK|32GB ...,3.4 out of 5 stars,"1,89,900"
8,"Apple MacBook Pro (16-inch, 16GB RAM, 1TB Stor...",4.5 out of 5 stars,"2,15,990"
9,Dell G7 7500 15.6inch FHD 300 Hz Display Gamin...,5.0 out of 5 stars,"2,00,690"
10,Lenovo Yoga Slim 7 10th Gen Intel Core i7 14 i...,3.2 out of 5 stars,"83,990"
11,Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 1...,4.0 out of 5 stars,"87,990"
12,(Renewed) Dell Latitude E6420 14 Inch Laptop (...,4.4 out of 5 stars,"34,000"
13,Mi Notebook Horizon Edition 14 Intel Core i5-1...,4.2 out of 5 stars,"53,999"
14,"Asus ROG Zephyrus S Ultra Slim Gaming Laptop, ...",4.3 out of 5 stars,"3,43,099"
15,"Lenovo Legion 5Pi 10th Gen Intel Core i7 15.6""...",3.1 out of 5 stars,"1,35,490"
16,"Lenovo Yoga Slim 7i 11th Gen Intel Core i7 14""...",4.7 out of 5 stars,"97,990"
17,Life Digital Laptop 15.6-inch (39.62 cms) (Int...,2.6 out of 5 stars,"29,990"
18,CUK VivoBook K571 by ASUS 15 Inch Gaming Lapto...,3.9 out of 5 stars,"1,44,643"
19,Life Digital Laptop 15.6-inch (39.62 cms) (Int...,3.0 out of 5 stars,"24,990"

In [15]:
driver.close()